/*Base rules*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* Header */
.go-to-content {
    display: block;
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    top: -3.8rem;
    background-color: #DB8876;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    padding: 0.2rem 0.5rem;
    transition: transform 0.3s;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.page header {
    display: flex;
    margin: 1.5rem 0;
    height: max-content;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    /*Otherwise interaction prevented, main superimposed*/
    z-index: 1;
}

.page header nav {
    display: flex;
    flex-wrap: wrap;
}

.image-link-homepage {
    display: block;
}

.page header img {
    width: 12.5rem;
    height: 3.125rem;
}

.nav-tag-item {
    height:min-content;
    border: #c4c4c4 solid 0.03rem;
    border-radius: 0.7rem;
    color: #901C1C;
    padding: 0 0.5rem;
    margin: 0.2rem;
    cursor: pointer;
    font-size: 0.75rem;
}

.nav-tag-item:hover, .nav-tag-item[data-selected="true"] {
    color: white;
    background-color: #911c1c;
    border-color: #911c1c;
}

/* Main content homepage */
main#content {
    display: flex;
    flex-wrap: wrap;
    margin-top: -6rem;
}  

/* Necessary to get to the right position while being included in main tag, without header */
#content h1{
    margin: 1.25rem;
    margin-left: 75vw;
    color: #901C1C;
    max-width: max-content;
    width: auto;
    height: min-content;
    font-weight: normal;
}

/* Photograph profiles*/
.photograph-wrapper {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.photograph-profile__avatar img{
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.photograph-profile {
    width: 15rem;
    margin: 2.5rem 5rem;
    text-align: center;
}

.photograph-profile__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #D3573C;
}

.photograph-profile__avatar h2 {
    font-size: 2.25rem;
    min-width: max-content;
    text-align: center;
}

.photograph-profile__localisation {
    font-size: 0.8rem;
    color: #901C1C;
}

.photograph-profile__slogan {
    font-size: 0.6rem;
}

.photograph-profile__price {
    font-size: 0.55rem;
    color: #757575;
}

.photograph-profile__description * {
    margin: 0.2rem 0;
}

.photograph-profile__tags {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.photograph-profile__tags__tag-item {
    border: 0.03rem solid #c4c4c4;
    border-radius: 0.7rem;
    margin: 0 0.2rem;
    padding: 0 0.5rem;
    font-size: 0.75rem;
    color: #911C1c;
    cursor: pointer;
}

.photograph-profile__tags__tag-item:hover, .photograph-profile__tags__tag-item[data-selected="true"] {
    color: white;
    background-color: #911C1C;
    border-color: #911C1C;
}

/*Responsive */
@media all and (max-width:1199px) {
    .go-to-content {
        top: -3rem;
        font-size: 0.9rem;
    }

    .photograph-wrapper {
        justify-content: center;
    }

    .page header {
        width: 100vw;
        flex-direction: column;
    }

    .page header a {
        align-self: baseline;
    }

    .page header nav {
        justify-content: center;
        width: 90vw;
    }

    #content h1 {
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }
}

/* Fix for wrap of nav tags*/
@media all and (max-width: 651px) {
    #content h1 {
        margin-top: -1rem;
        margin-left: 60vw;
    }

    .photograph-wrapper {
        margin-top: 4rem;
    }
}

/*-----------------------------------------------------------------------------------------------*/
/*  Photographer page */

/* Header */
.photographer-page header a {
    display: block;
    width: 12.5rem;
    height: 3.125rem;
    margin: 2.5rem 0;
}

.photographer-page header a img {
    width: 100%;
    height: 100%;
}

.photographer-page {
    margin: 0 6.25rem 2rem;
}

.photographer-page .photograph-header {
    display : flex;
    padding: 3.5rem 3.125rem;
    justify-content: flex-start;
    background-color: #fafafa;
    border-radius: 0.3rem;
}

.photographer-page .photograph-header .infos h1 {
    font-size: 4rem;
    color: #D3573C;
}

.photographer-page .photograph-header .infos__text__localisation {
    font-size: 1.5rem;
    color: #901C1C;
}

.photographer-page .photograph-header .infos__text__slogan {
    font-size: 1.125rem;
    color: #525252;
    margin-top: 1.2rem;
}

.photographer-page .photograph-header .infos__tags {
    display: flex;
    margin-top: 0.6rem;
    flex-wrap: wrap;
}

.photographer-page .photograph-header .infos__tags__item {
    font-size: 1.125rem;
    border: 0.03rem #c4c4c4 solid;
    padding: 0 0.5rem;
    margin: 0 0.2rem;
    color: #901C1C;
    border-radius: 0.75rem;
    cursor: pointer;
}

.photographer-page .photograph-header .infos__tags__item:hover, .photographer-page .photograph-header .infos__tags__item[data-selected="true"] {
    background-color: #911c1c;
    border-color: #911C1C;
    color: white;
}

.photographer-page .photograph-header .contact {
    background-color: #911c1c;
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
    width: 10.6rem;
    height: 4.3rem;
    line-height: 4.3rem;
    text-align: center;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-left: 1rem;
}

.photographer-page .photograph-header .contact:hover {
    background-color: #DB8876;
    color: black;
}

.photographer-page .photograph-header .avatar {
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-left: auto;
}

/* Statistics */
.photographer-page .stats {
    display: flex;
    background-color: #DB8876;
    border-radius: 0.3rem;
    width: 23.5rem;
    height: 4rem;
    line-height: 4rem;
    font-weight: 500;
    font-size: 1.5rem;
    justify-content: space-around;
    position: fixed;
    bottom: -0.8rem;
    right: 2rem;
}

/* Sorting dropdown */
.sorting {
    display: flex;
    margin-top: 1.2rem;
}

.sorting .sort-container {
    position: relative;
    color: white;

    font-size: 1.2rem;
}

.sorting .sort-button {

    background-color: #901C1C;

    color: white;
    width: 13rem;
    padding: 0 2.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    height: 3.75rem;

    cursor: pointer;
    border-radius: 0.3rem;
    border: none;
    text-align: left;
    /* Needed for font-weight fix*/
    font-family: 'DM Sans',sans-serif;
}

.sorting .sort-container i {
    position: absolute;
    right: 1.5rem;
    top: 0;
    line-height: 3.75rem;
    z-index: 2;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    color: white;
}

.sorting label {
    font-size: 1.2rem;
    margin-right: 1.5rem;
    font-weight: 700;
    line-height: 3.75rem;
}

@keyframes grow-dropdown {
    from {
        transform: scaleY(0.3);
    }    
    to {
        transform: scaleY(1);
    }
}

.sorting .sort-dropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #901C1C;
    width: 100%;
    padding-left: 1.2rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
    transform-origin: center top;
    animation: grow-dropdown 0.2s linear;
}


/* .sorting .sort-text {
    padding-right: 2.5rem;
} */

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sorting .sort-dropdown__item {

    line-height: 3.75rem;
    padding-left: 1rem;
    animation: fade-in 0.3s 0.2s ease-in-out backwards;
    list-style: none;
    cursor: pointer;
}

.sorting .sort-dropdown__item.sort-focus {
    font-weight:700;
}

.sorting .sort-dropdown__item:nth-child(2) {
    position: relative;
}

@keyframes vertical-grow-line {
    from{
        transform: scaleX(0)
    } 
    to {
        transform: scaleX(1);
    }
}

.sorting .sort-dropdown__item:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10.5rem;
    border-top: white solid 0.06rem;
    transform-origin: left center;
    animation: vertical-grow-line 0.3s 0.2s ease-in-out backwards;
}

.sorting .sort-dropdown__item:nth-child(2)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10.5rem;
    border-bottom: white solid 0.06rem;
    transform-origin: left center;
    animation: vertical-grow-line 0.3s 0.2s ease-in-out backwards;
}

/* The photographs */
.photographer-page .photo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photographer-page .photo-container {
    margin: 2rem 0;
}

.photographer-page .photo-container img, .photographer-page .photo-container .play-btn, .photographer-page .photo-container video{
    width: 22rem;
    height: 18rem;
    border-radius: 0.3rem;
    object-fit: cover;
    cursor: pointer;
}

.photographer-page .photo-container .play-btn {
    background-color:black;
    display: flex;
    margin-bottom: 0.3rem;
}

.photographer-page .photo-container .play-btn i {
    display: block;
    color: white;
    font-size: 10rem;
    width: 10rem;
    margin: auto;
}
.photographer-page .photo-description {
    color: #901C1C;
    display: flex;
}

.photographer-page .photo-likes {
    margin-left: auto;
}

.photographer-page .photo-likes i {
    cursor: pointer;
}

/* Responsive for photographer's page */
@media all and (max-width: 1100px) {
    .photographer-page {
        margin: 0 1.25rem 5rem;
    }

    .photographer-page header a img {
        margin-left: -2rem;
    }

    .photographer-page .stats {
        display: none;
    }

    .photographer-page .photograph-header {
        padding: 0;
        align-items: center;
        background-color: white;
    }

    .photographer-page .photograph-header .infos {
        width: 60vw;
    }

    .photographer-page .photograph-header .contact {
        position: fixed;
        bottom: 1.8rem;
        left: 50%;
        height: 2.2rem;
        line-height: 2.2rem;
        margin-left: 0;
        transform: translate(-50%, 0%);
        transition: transform 0.3s ease-in-out;
    }

    .photographer-page .photograph-header .infos h1 {
        font-size: 2.25rem;
    }

    .photographer-page .photograph-header .avatar {
        width: 6.25rem;
        height: 6.25rem;
    }

    .photographer-page .photograph-header .infos__text__localisation {
        font-size: 0.8rem;
    }

    .photographer-page .photograph-header .infos__text__slogan {
        font-size: 0.8rem;
        margin-top: 0;
    }

    .photographer-page .photograph-header .infos__tags__item {
        font-size: 0.8rem;
    }

    .photographer-page .sorting {
        display: none;
    }
}

@media all and (max-width: 740px) {
    .photographer-page .photograph-header {
        margin-bottom: 2.8rem;
    }

    .photographer-page .photo-wrapper {
        justify-content: center;
    }

    .photographer-page .photo-container {
        margin: 0;
    }

    .photographer-page .photo-description {
        height: 2rem;
        line-height: 1.5rem;
    }
}

/* Contact Modal */
.modalbg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.50);
}

.modal-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

@keyframes fade-in-top-form {
    from {
        transform: translateY(-25%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

form.modal {
    display: flex;
    flex-direction: column;
    background-color: #DB8876;
    width: 42rem;
    height: 57rem;
    
    position: relative;
    border-radius: 0.3rem;

    animation: fade-in-top-form 1s backwards ease-in-out;
}

form.modal h1 {
    font-size: 4rem;
    margin: 1.2rem 0;
    padding-left: 2.2rem;
    font-weight: 400;
}

form.modal .close {
    position: absolute;
    right: 2.2rem;
    top: 2.2rem;
    font-size: 2.7rem;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
}

form.modal label, form.modal label {
    padding:0 2.2rem;
}

form.modal label {
    font-size: 2.25rem;
    font-weight: 400;
}

form.modal input {
    width: 37.6rem;
    height: 4.25rem;
    
    margin: 0 auto;
    font-size: 2.25rem;
    border-radius: 0.3rem;

    padding-left: 1rem;
}

form.modal textarea {
    width: 37.6rem;
    height: 10rem;
    margin: 0 auto;
    border-radius: 0.3rem;
    font-size: 2.25rem;

    padding-left: 1rem;
    padding-top: 0.25rem;
}

form.modal input[type="submit"]{
    width: 10.7rem;
    margin-left: 2.25rem;
    margin-top: 1.7rem;
    padding-left: 0;
    color: white;
    background-color: #911C1C;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1rem;
}

/* form.modal input[type="submit"]:hover {
    background-color: #DB8876;
    color: black;
} */

@media all and (max-width: 700px) {
    
    form.modal {
        width: 100vw;
        height: 100vh;
    }
    form.modal .close {
        font-size: 1rem;
        right: 1rem;
        top: 1rem;
    }
    
    form.modal h1 {
        font-size: 2rem;
        margin: 1rem 0;
        padding-left: 1rem;
        
    }

    form.modal input {
        width: 90%;
        height: 3.25rem;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    form.modal label {
        font-size: 1.5rem;
        padding-left: 1rem;
        color: #312E2E;

    }

    form.modal textarea {
        width: 90%;
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    form.modal input[type="submit"]{
        margin: 0;
        align-self: center;
        font-size: 1rem;
        width: 10rem;
        height: 2rem;
    }

}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
}

.loader p {
    font-size: 3rem;
    text-align: center;
}

/* Lightbox */
.lightbox-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 3;
}

@keyframes fade-in-top-lightbox {
    from {
        transform: translate(-50%, -75%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.lightbox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: fade-in-top-lightbox 1s backwards ease-in-out;
}

.lightbox__img {
    width: 65rem;
    height: 56rem;
    border-radius: 0.3rem;
    object-fit: cover;
}

.lightbox__title {
    color: #901C1C;
    font-size: 1.5rem;
}

.lightbox__previous, .lightbox__next, .lightbox__close {
    color: #901C1C;
    font-size: 3rem;
    cursor: pointer;
    border: none;
    background: none;
}

.lightbox__previous {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    left: -7vw;
}

.lightbox__next {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    right: -7vw;
}

.lightbox__close {
    position: absolute;
    right: -6vw;
    top: 0;
}

@media all and (max-width: 1250px) {
    .lightbox__img {
        width: 18rem;
        height: 15.5rem;
    }

    .lightbox__title {
        font-size: 0.8rem;
    }

    .lightbox__previous, .lightbox__next, .lightbox__close {
        
        font-size: 0.75rem;
        
    }

}

/* Accessibility */
.sr-only {
    position: absolute;
    width: 0;
    overflow: hidden;
}